@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle, #ff9a9e, #fad0c4, #fbc2eb);
}


.new-year-text {
  font-family: 'Outfit', sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  background: linear-gradient(45deg, #FFD700, #FF69B4, #4ECDC4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: fadeIn 3s infinite alternate;
}

.emoji {
  font-size: 3.5rem;
  animation: fadeIn 3s infinite alternate;
  margin: 0 1rem;
}

@keyframes fadeInScale {
  from {
    opacity: 0.5;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.5));
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1.1);
  }
}

.pictures {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.picture {
  width: 200px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s;
}

.picture:hover {
  transform: scale(1.1);
}

.gift {
  width: 200px;
  height: auto;
  max-height: 50vh;
  object-fit: contain;
  margin-left: 1rem;
  animation: fadeInScale 1s forwards;
}

.picture-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.click-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}